.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 600px;
}

table {
  width: 100%;
  border: 1px solid #000;
}

th,
td {
  width: 25%;
  text-align: center;
  border: 1px solid orangered;
  /* border-collapse: collapse; */
}

thead {
  background-color: lightsalmon;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  background-color: black;
}

.notas-input {
  background-color: transparent;
  color: #000;
  border: transparent;
}
